<form {{action "submit" on="submit"}}>
    <p>{{input value=title placeholder="Post Title"}}</p>
    <p>{{input value=author placeholder="Post Author"}}</p>
    <p>{{input value=content placeholder="Post Content"}}</p>

    <p>{{input type="submit" value="Submit"}}</p>
</form>
